/*
 * common devices css
 */

/* typography */
* {
    text-rendering: optimizelegibility;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
}

h1, h2, h3, p {font-family: museo-sans-rounded, arial;}
p {color: #a0a0a0; font-size: 16px;}

h1, h3 {font-weight: 900;}
h2, p {font-weight: 700;}

.pk-header {
	background-image: url("../imgs/world-bg-low.jpg");
}

.pk-header h1, .pk-header h3 {
	color: #fff;
	text-shadow: 0px 2px 1px #4f9dd0;
}
.pk-main h3, .pk-quote h3 {color: #6e30ab; font-size: 28px;}
.pk-quote h2 {
	font-size: 30px;
	color: #36bb81;
	line-height: 1.2em;
}
.pk-description {text-align: center}

/* layout */

.pk-header{
	background-color: #62b5e3;
	background-repeat: no-repeat;
	background-position: top;
	overflow: hidden;
}

section {padding: 65px 0;}
header {padding: 20px 0 40px;}

.pk-quote {
	text-align: center;
	background-color: #ecf2f6;
}

.logo-playkids {margin: 35px 0;}

.btn-pk {
	background-color: #7d32a4;
	border-color: #7d32a4;
	font-size: 20px;
	font-family: museo-sans-rounded, arial, san-serif;
	padding-top: 20px; 
	padding-bottom: 20px; 
	margin-top: 18px; 
	margin-bottom: 18px;
	box-shadow: 0px 4px 1px rgba(125,50,164, 0.2);
    letter-spacing: 0.1em;
}

.btn-pk:hover, .btn-pk:active {
	background-color: #73308b;
	border-color: #73308b;
	box-shadow: 0px 4px 1px rgba(125,50,164, 0.2);
}

.bnt-down {background-image: url("../imgs/bnt-down.png");}