/*
 * screen css
 */

.pk-header h1 {font-size: 48px;}
.pk-header h3 {font-size: 24px; font-weight: 700;}

.pk-header {
	background-image: url("../imgs/world-bg.jpg");
}

.bnt-down{
    background-image: url("../imgs/bnt-down.png");
    padding: 34px 23px;
    color: #FFF;
    position: absolute;
    top: 540px;
}

.devices {margin-left: -90px;}